body.understrap-no-sidebar {

    .alignwide {
        margin: 0 calc(50% - 37vw);
        max-width: 74vw;

        @include media-breakpoint-down(lg) {
            margin: 0 calc(50% - 50vw);
            max-width: 100vw;    
        }
    }
}

@media ( max-width: 1920px ) {
    body.understrap-no-sidebar .wp-block-media-text.alignwide {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;    
    }
}

.wp-block-group, 
.wp-block-cover {

	&.alignfull, 
    &.alignwide {
		padding: $spacer * 2 0;
	}
}



.btn,
.wp-block-buttons .wp-block-button .wp-block-button__link {
}

.wp-block-buttons {

    .wp-block-button {

        .wp-block-button__link {
            padding: var(--#{$prefix}btn-padding-y) var(--#{$prefix}btn-padding-x);
            font-size: var(--#{$prefix}btn-font-size);
            border-radius: var(--#{$prefix}btn-border-radius);
            
            font-family: $btn-font-family;
            font-weight: $btn-font-weight;
            line-height: $btn-line-height;
            box-shadow: $btn-box-shadow;
            transition: $transition-base;

            &:focus {
                box-shadow: $btn-focus-box-shadow;
            }

            &:active {
                box-shadow: $btn-active-box-shadow;
            }
        }

        &.is-style-outline .wp-block-button__link {
            border-width: $btn-border-width;
        }

    }
}


.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background) {
    background-color: $primary;
}


.wp-block-buttons {
    margin-bottom: $paragraph-margin-bottom;

    .wp-block-button {

        &.is-style-arrow-link {
 
            .wp-block-button__link {
                background-color: transparent;
                padding-left: 0;
                padding-right: 5rem;
                border-color: transparent;
                position: relative;
                text-align: left;
                box-shadow: none;

                &:not(.has-text-color) {
                    color: $body-color;
                }

                &:after {
                    content: "";
                    display: block;
                    width: 3rem;
                    height: 3rem;
                    mask-image: url('../img/flecha-derecha.svg');
                    mask-repeat: no-repeat;
                    mask-position: center;
                    background-color: $primary;
                    
                    position: absolute;
                    right: 1rem;
                    top: 50%;
                    transform: translateY(-50%);
                    transition: $transition-base;
                }

                &:hover:after {
                    right: 0;
                }
            }

        }

    }
}

.wp-block-columns {
    gap: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;

    &.is-style-gapless {
        @include media-breakpoint-up(md) {
            gap: 0;
        }
    }
}

.is-style-cifra-circulo {
    position: relative;
    @extend .display-1;
    color: $primary;
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
    line-height: 7rem;
    background-color: $light;
    // outline: 1rem double $light;
    text-align: center;
    // padding: $spacer;
    margin: $spacer $spacer $spacer * 3;
    // margin-bottom: $spacer * 3;

    &:before {
        content: "";
        position: absolute;
        left: -$spacer;
        right: -$spacer;
        top: -$spacer;
        bottom: -$spacer;
        border: 8px solid $light;
        border-radius: 7rem;
    }
}

.form-steps {

    .wp-block-column:not(:last-child) .is-style-cifra-circulo {

        &:after {

            @include media-breakpoint-up(md) {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: calc( 100% + $spacer*2 );
                width: $spacer * .5;
                border-top: 1px dashed $primary;
            }

            @include media-breakpoint-up(lg) {
                width: $spacer * 4;
            }

            @include media-breakpoint-up(xl) {
                width: $spacer * 8;
            }

        }

    }

}