.breadcrumb {
    // margin-bottom: $spacer * 3 !important;
    margin-bottom: 0;

    p {
        margin-bottom: 0;
    }
}

.wp-block-cover,
.wp-block-nk-awb {
    
    .breadcrumb {

        a {
            color: $white;
        }

    }
    
}