#search-wrapper,
#error-404-wrapper {
    padding-top: 10rem;

    .page-header {
        margin-bottom: $spacer * 2;
    }
}

#wrapper-top-bar {
  padding: $spacer * .25 0;
  font-size: $font-size-sm;
  border-bottom: 1px solid $border-color;

p {
  margin-bottom: 0;
}
}

body.navbar-transparent {

  #wrapper-navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;

    + .wrapper {
      padding-top: 0;
    }
  }

}

body.scrolled {

  #wrapper-navbar {
    box-shadow: $box-shadow-sm;
  }

}

.stretch-linked-block {
    position: relative !important;
    transition: $transition-fade;

    .editorskit-block-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 90;
    }

    &:hover {
        opacity: .7;

        .wp-block-button.is-style-arrow-link .wp-block-button__link:after {
            right: 0;
        }
    }
}

.stretched-link {
    color: $body-color;

    &:hover {
        text-decoration: none;
        color: $body-color;
    }
}

.entry-footer {
    position: relative;
    z-index: 2;
}