.bg-cover { 
	background-size: cover;
	background-position: center center;
}

.wp-block-image figcaption {
	font-size: $font-size-sm;
}

.object-fit-cover {
	object-fit: cover;
}

a {

	img, svg {
		transition: $transition-fade;
	}

	&:hover {
		img, svg {
			opacity: .7;
		}
	}
}