.dropdown-toggle::after {
    border: 0;
    width: 12px;
    height: 8px;
    vertical-align: .15em;
    background: url('data:image/svg+xml;utf8,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2L6 6L10 2" stroke="#{$navbar-light-color}" stroke-width="2" stroke-linecap="square"/></svg>') no-repeat center center;
    background-size: contain;
    background-position: center;
}

#main-nav {
    transition: $transition-base;
}

#main-menu {

    .nav-link {
        font-family: $font-family-serif;
        font-size: $font-size-base * 1.75;

        @include media-breakpoint-up(lg) {
            font-size: $h1-font-size;
        }

        @include media-breakpoint-up(xl) {
            font-size: 4rem;
        }
    }
}

#desktop-menu {

    .nav-link,
    .dropdown-item {
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .nav-link {
        font-weight: $font-weight-semibold;
    }
}