$slick-font-size: 1.5rem;

.slick-prev,
.slick-next {
	z-index: 1;
	width: $slick-font-size;
	height: $slick-font-size;

	&:before {
		font-size: $slick-font-size;
		color: $black;
	}
	
}

.slick-prev {
	left: $spacer;
}

.slick-next {
	right: $spacer;
}	

.slick-slider-default {

	.slick-prev,
	.slick-next {
		
		&:before {
			color: $white;
			transition: $transition-base;
			filter: drop-shadow(0 0 2px $black);
		}

	}

}

.slick-carousel {
	position: relative;
	padding-bottom: $slick-font-size * 2;

	.slick-prev,
	.slick-next {
		top: unset;
		bottom: -$slick-font-size*1.5;
	}

	.slick-prev {
		left: unset;
		right: $slick-font-size*1.2;
	}
	
	.slick-next {
		right: 0;
	}	

	.slick-list {
		margin: 0 -$grid-gutter-width/2;
		padding-right: 100px;

		@include media-breakpoint-up(md) {
			padding-right: 70px;
		}

		// @include media-breakpoint-up(md) {
		// 	padding-right: 10%;
		// }
	}

	.slick-slide {
		margin: 0 $grid-gutter-width/2;
		transition: $transition-fade;

		&:not(.slick-active) {
			opacity: .5;
		}
	}
}

.slick-slider {

	.wp-block-cover {
		min-height: 560px;
		align-items: flex-end;
		padding: $spacer * 4 0;
	}
	
}