// html {
// 	scroll-behavior: smooth;
// }

/* Fixed header fix */
// :target:before {
// 	content: "";
// 	display: block;
// 	height: 80px; /* same as your fixed header height */
// 	margin: -80px 0 0; /* negative fixed header height */
// }

.admin-bar {

	.fixed-top,
	.sticky-top {
		top: 46px;

		@include media-breakpoint-up(md) {
			top: 32px;
		}
	}
}

.mw-300 {
    max-width: 300px;
  }
  
  .mw-400 {
    max-width: 400px;
  }
  
  .mw-500 {
    max-width: 500px;
  }
  
  .mw-600 {
    max-width: 600px;
  }
  
  .mw-700 {
    max-width: 700px;
  }
  
  .mw-800 {
    max-width: 800px;
  }
  
.mt-neg-200 {
    margin-top: -200px;
    position: relative;
    z-index: 1;
}

.z-0 {
	z-index: 0;
}

.z-1 {
	z-index: 1;
}

.z-2 {
	z-index: 2;
}


.pagination {
	margin-top: $spacer * 2;
	justify-content: center;
}

.comments-area {
	margin-top: $spacer * 3;
}

.fixed-cta,
.back-to-top {
	position: fixed;
	bottom: -300px;
	opacity: 0;
	transition: $transition-base;
	z-index: 900;
}

.fixed-cta {
	right: $spacer;

	@include media-breakpoint-up(md) {
		right: $spacer*2;
	}
}

.back-to-top {
	left: $spacer;
	bottom: -100px;

	@include media-breakpoint-up(md) {
		left: $spacer*2;
	}
}

.scrolled-up {
	
	.fixed-cta,
	.back-to-top {
		opacity: .96;
		bottom: $spacer;

		@include media-breakpoint-up(md) {
			bottom: $spacer*2;
		}

	}

}

.back-to-top {
	width: 3rem;
	height: 3rem;
	background-color: $primary;
	border-radius: $border-radius;
	box-shadow: $box-shadow-sm;
	border: 1px solid transparent;
	color: $white;
	transform: rotate(270deg);
	background-image: url('../img/flecha-derecha-blanca.svg');
	background-size: 1.5rem auto;
	background-position: center;
	background-repeat: no-repeat;

	&:hover {
		background-color: darken($primary, 10);
		border: 1px solid darken($primary, 10);
	}

}