html {
	scroll-behavior: smooth;
}

/* Fixed header fix */
:target:before {
	content: "";
	display: block;
	height: 65px; /* same as your fixed header height */
	margin: -65px 0 0; /* negative fixed header height */
}

.admin-bar {

	.fixed-top,
	.sticky-top {
		top: 46px;

		@include media-breakpoint-up(md) {
			top: 32px;
		}
	}
}

.mw-300 {
    max-width: 300px;
  }
  
  .mw-400 {
    max-width: 400px;
  }
  
  .mw-500 {
    max-width: 500px;
  }
  
  .mw-600 {
    max-width: 600px;
  }
  
  .mw-700 {
    max-width: 700px;
  }
  
  .mw-800 {
    max-width: 800px;
  }
  
.mt-neg-200 {
    margin-top: -200px;
    position: relative;
    z-index: 1;
}

.pagination {
	margin-top: $spacer * 2;
	justify-content: center;
}

.comments-area {
	margin-top: $spacer * 3;
}

.back-to-top {
	position: fixed;
	right: $spacer;
	bottom: -60px;
	width: 60px;
	height: 60px;
	background-color: $primary;
	border: 1px solid transparent;
	color: $white;
	opacity: 0;
	transition: $transition-base;
	z-index: 10000;
	transform: rotate(270deg);
	background-image: url('../img/flecha-derecha-blanca.svg');
	background-size: 30px auto;
	background-position: center;
	background-repeat: no-repeat;

	&:hover {
		background-color: darken($primary, 10);
		border: 1px solid darken($primary, 10);
	}
}

.scrolled .back-to-top {
	opacity: .9;
	bottom: $spacer;
}