.widget-area {

	.widget {
        margin-bottom: $spacer * 2;
	}
}

.footer-widget {
    margin-bottom: $spacer;
}

#wrapper-footer {

	.footer-widget,
	.footer-widget p {
		margin-bottom: 0;
	}
}

#featured-offcanvas {

	.widget {
		margin-bottom: $spacer;
	}
	
}